<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="rclone" Language="1033" Version="$(var.ProductVersion)" Manufacturer="https://rclone.org" UpgradeCode="1630521d-062d-4ae5-b690-b676c39311a2">
    <SummaryInformation Description="Rclone is a command line program to manage files on cloud storage." />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Media Id="1" Cabinet="Data.cab" EmbedCab="yes" CompressionLevel="high" />

    <Feature Id="Product" ConfigurableDirectory="INSTALLDIR" Description="Rclone for Windows" Display="expand" Title="Rclone" AllowAbsent="no">
      <ComponentGroupRef Id="ProductComponents" />
      <Feature Id="EnvironmentPath" Description="Adds rclone to the system path." Title="Update system path" Level="2">
        <ComponentRef Id="EnvironmentPathComponent" />
      </Feature>
    </Feature>

    <UI>
      <ui:WixUI Id="WixUI_FeatureTree" />
      <!-- Remove LicenseAgreementDlg. -->
      <Publish Dialog="WelcomeDlg"
               Control="Next"
               Event="NewDialog"
               Value="CustomizeDlg"
               Order="2" />
      <Publish Dialog="CustomizeDlg"
               Control="Back"
               Event="NewDialog"
               Value="WelcomeDlg"
               Order="2" />
    </UI>

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLDIR" Name="Rclone" />
    </StandardDirectory>

    <Component Id="EnvironmentPathComponent" Guid="0643d537-f24b-4a0a-9f25-9ae15efc2b78" Directory="INSTALLDIR">
      <Environment Id="UpdatePath" Name="PATH" Action="set" Permanent="no" System="yes" Part="last" Value="[INSTALLDIR]" />
    </Component>
  </Package>
</Wix>